<div class="form-group required">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: "form-control" %>
</div>
<div class="form-group required">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "form-control" %>
</div>

<div class="form-group required">
	<%= label_tag :summary %>
	<%= text_field_tag "summary", value = ( @current_user.profile.summary unless @current_user.nil? ) , class: "form-control" %>
</div>
<div class="form-group required">
	<%= label_tag :description %>
	<%= text_area_tag :description, value = ( @current_user.profile.description unless @current_user.nil? ), class: "form-control"%>
</div>