<div class="form-group required">
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: "form-control" %>
</div>
<div class="form-group required">
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "form-control" %>
</div>

<div class="form-group required">
	<%= f.label :summary %>
	<%= f.text_field :summary, class: "form-control" %>
</div>
<div class="form-group required">
	<%= label_tag :description %>
	<%= f.text_area :description, class: "form-control"%>
</div>