<div class="row">
  <div class="page-header">
    <%= link_to new_post_path(post_type: @ptype), class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span>
        Create a new <%= @ptype %>
    <% end %>
    <h1>All <%= @ptype.pluralize.capitalize %></h1>
  </div>
</div>
<div class="row">
  <h1>Trending Areas</h1>
  <ul>
    <% @tags_count.each do |t| %> 
      <li> <%= link_to t[0], "/posts?post_type=#{@ptype}&tags_filter=#{t[0]}" %> has <%= "#{t[1]} #{@ptype.pluralize.capitalize}" %>  </li>
    <% end %>
  </ul>
</div>
<div class="container">
<% @posts.each do |post| %>
  <%= render partial: 'posts_list_item', locals: { post: post} %>
<% end %>
</div>
