<div class="row">
  <% if @area.nil? %>
    <div class="page-header">
      <%= link_to new_post_path(post_type: @ptype), class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-plus"></span>
          Create a new <%= @ptype %>
      <% end %>
      <h1>All <%= @ptype.pluralize.capitalize %></h1>
    </div>
  <% else %>
    <div class="page-header">
    <%= link_to new_post_path(post_type: @ptype, area: @area), class: "btn btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span>
        Create a new <%= @ptype %> in <%= @area %>
    <% end %>
    <h1>All <%= @ptype.pluralize.capitalize %> in <strong><%= @area %></strong></h1>
  </div>
  <% end %>
  
</div>



<div class="row">
  <% if @area.nil? %>
    <h1>Trending Areas</h1>
    <ul>
      <% @tags_count.each do |t| %> 
        <li> <%= link_to t[0], "/posts?post_type=#{@ptype}&tags_filter=#{t[0]}" %> has <%= "#{t[1]} #{@ptype.pluralize.capitalize}" %>  </li>
      <% end %>
    </ul>
  <% else %>
    <h1>
      <% @tags_count.each do |t| %> 
        <%= link_to t[0], "/posts?post_type=#{@ptype}&tags_filter=#{t[0]}" %> has <%= "#{t[1]} #{@ptype.pluralize.capitalize}" %> 
      <% end %>
    </h1>
  <% end %> 
</div>
<div class="container">
<% @posts.each do |post| %>
  <%= render partial: 'posts_list_item', locals: { post: post} %>
<% end %>
</div>
