
<div class="container">
	<div class="row">
		<% if @all_tags.count == 0  %>
			<h2>
				There are no Areas having "<%= @area %>" in their name.
			</h2>
			<%= link_to new_post_path(post_type: 'Problem', area: @area), class: "btn btn-danger" do %>
		      <span class="glyphicon glyphicon-plus"></span>
		        Create a new Problem in "<%= @area %>"
		    <% end %>
		    <%= link_to new_post_path(post_type: 'Proposal', area: @area), class: "btn btn-info" do %>
		      <span class="glyphicon glyphicon-plus"></span>
		        Create a new Proposal in "<%= @area %>"
		    <% end %>
		<% else %>
			<h2>
				All Areas having "<%= @area %>" in their name
			</h2>
			<ul class="list-group">
			  <% @all_tags.each do |tag| %>
			  <li class="list-group-item"><strong><%= tag[0] %></strong> has
			  	<%= link_to raw("<label class='label label-danger'><span class='badge'>#{tag[1]}</span>Problems</label>"), "/posts?post_type=Problem&tags_filter=#{tag[0]}" %>
			  	<%= link_to raw("<label class='label label-success'><span class='badge'>#{tag[2]}</span>Ideas</label>"), "/posts?post_type=Idea&tags_filter=#{tag[0]}" %>
			  	and
			  	<%= link_to raw("<label class='label label-info'><span class='badge'>#{tag[3]}</span>Proposals</label>"), "/posts?post_type=Proposal&tags_filter=#{tag[0]}" %>
			  
			  
			  
			  	<span class="badge badge-error">
			  	<%= link_to new_post_path(post_type: 'Problem', area: tag[0]) do %>
			      <span class="glyphicon glyphicon-plus"></span>
			        new Problem in "<%= tag[0] %>"
			    <% end %>
			  	</span>  
			    <span class="badge badge-info">
			    <%= link_to new_post_path(post_type: 'Proposal', area: tag[0]) do %>
			      <span class="glyphicon glyphicon-plus"></span>
			        new Proposal in "<%= tag[0] %>"
			    <% end %>
			  	</span>
			  	</li>
			   <% end %>
			</ul>
		<% end %>
	</div>
</div>



